*.svg
*.png
*.pdf
node_modules
*~
.DS_Store
coverage/
.nyc_output/
test/
examples/
doc/
.waiting.html
.editorconfig
.eslintignore
.eslintrc.js
.travis.yml
.vscode/
.waiting.html
.github/
web/
docs/
ava.config.js
tsconfig.json
.eslintrc.cjs
.gitattributes
ava.config.cjs
